@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.bg-custom {
    background: #0c4caa;
    background: radial-gradient(circle, #0c4caa 0%, #135ac3 42%, #017bec 100%);
}

.bg-profile {
    background: radial-gradient(circle at bottom left, #1352b0, #4c8ae8, #87c5ff);
    background-size: 100% 100%;
    background-position: bottom left;
}


.loader-dots {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    clip-path: inset(-45px);
    box-shadow: -60px 15px, -60px 15px, -60px 15px;
    transform: translateY(-15px);
    animation: l19 1s infinite linear;
}

@keyframes l19 {
    16.67% {
        box-shadow: -60px 15px, -60px 15px, 19px 15px
    }

    33.33% {
        box-shadow: -60px 15px, 0px 15px, 19px 15px
    }

    40%,
    60% {
        box-shadow: -19px 15px, 0px 15px, 19px 15px
    }

    66.67% {
        box-shadow: -19px 15px, 0px 15px, 60px 15px
    }

    83.33% {
        box-shadow: -19px 15px, 60px 15px, 60px 15px
    }

    100% {
        box-shadow: 60px 15px, 60px 15px, 60px 15px
    }
}


.loader-spinner-2 {
    width: 30px;
    aspect-ratio: 1;
    color: #f03355;
    --_c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
    background:
        var(--_c) 50% 0 /12px 12px,
        var(--_c) 50% 100%/12px 12px,
        var(--_c) 100% 50%/12px 12px,
        var(--_c) 0 50%/12px 12px,
        var(--_c) 50% 50%/12px 12px,
        conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0) -4px -4px/calc(50% + 2px) calc(50% + 2px);
    animation: l8 1s infinite linear;
}

@keyframes l8 {
    to {
        transform: rotate(.5turn)
    }
}

.loader-spinner {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #017bec;
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}

@keyframes l27 {
    100% {
        transform: rotate(1turn)
    }
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 0 0.5em;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    height: 2.7em;
    line-height: 2em;
}